/**********************************     ***************************************/
/*******************************  RESETS  ************************************/
/**********************************     ***************************************/

html, body {
	height: 100%;
	cursor: crosshair;
}

body, h1, h2, h3, h4, h5, blockquote, a, p {
    margin: 0px;
    padding: 0px;
	cursor: crosshair;
}

ul, li {
	margin:0;
	padding:0;
	list-style: none;
}

button {
	margin:0;
	padding:0;
	background: transparent;
	border: 0px;
	cursor:crosshair;
}

img {
	margin:0;
	padding:0;
}

/**********************************     ***************************************/
/******************************  TYPOGRAPHY  **********************************/
/**********************************     ***************************************/

@font-face {
    font-family: pfefferBold;
    src: url('../data/fonts/pfeffer-simpelgotisch-bold.otf');
}

@font-face {
    font-family: steelplateTextura;
    src: url('../data/fonts/steelplate-textura.ttf');
}

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 100;
    color: white; 
}

p{
	text-decoration: none;
    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-size:  12px;
    font-weight: 100;
    color:white;
}

a {
    text-decoration: none;
    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-size:  1.7em;
    font-weight: 300;
    color:white;
}

h1 {
    font-family:'pfefferBold', serif;
    font-style: normal;
    font-size: 4.2em;
    font-weight: normal;
	text-align:center;
	padding-bottom: 30px;
    color: #B9A64B;
}

mark {
    background-color:transparent;
    font-family:'steelplateTextura', 'pfefferBold', serif;
    font-style: normal;
    font-weight: normal;
    color: #B9A64B;
}

h3 {
    font-size: 1.7em;
    font-weight: 300;
}

/**********************************     ***************************************/
/******************************   GRAPHICS   **********************************/
/**********************************     ***************************************/

body {
    background-color: #1E1E28;
}

/**********************************     ***************************************/
/*****************************   CONTAINERS   *********************************/
/**********************************     ***************************************/
body {

}

#webGL-container {
	z-index:0;
}

#trailer {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow:hidden;
	z-index: 4;
}
#trailer video {
    position: absolute;
    z-index: 0;    
	background: url(data/vid/trailer.mp4) no-repeat;
    /*background-size: 100% 100%;*/
    top: 50vh;
	transform: translate(0, -50%);
    left: 0px; /* fixed to left. Replace it by right if you want.*/
    width: 100vw;
    height: auto;
}
#trailer #skipTrailer {
	color: white;
	opacity: 0.5;
	margin-top:90vh;
}
#trailer #skipTrailer:hover {
	opacity: 1;
}

#logoMenu {
	position: absolute;
    margin-top: 2vh;
    margin-left: 2vw;
	z-index:3;
}

#background {
	pointer-events: :none;
	position: absolute;
	width:100%;
	height:100%;
	background-color: #1e1e28;
	opacity:0.5;
	z-index: 1;
}

#centralInfo {
	position : absolute;
    text-align: center;
	margin-left: 50vw;
    margin-top: 50vh;
	opacity:1;
	-webkit-transition: 0.2s linear 0.2s;
    -o-transition: 0.2s linear 0.2s;
    transition: 0.2s linear 0.2s;
    transform: translate(-50%, -50%);
	z-index: 3;
}

#projetPage{
	position : absolute;
	width:50vw;
	margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
	opacity:0;
	-webkit-transition: 0.2s linear 0.4s;
    -o-transition: 0.2s linear 0.4s;
    transition: 0.2s linear 0.4s;
	z-index:3;
}

#equipePage{
	position : absolute;
	overflow:hidden;
	text-align:center;
	width:50vw;
	margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
	opacity:0;
	-webkit-transition: 0.2s linear 0.4s;
    -o-transition: 0.2s linear 0.4s;
    transition: 0.2s linear 0.4s;
	z-index: 3;
}

.equipeListElement {
	width: 15vw;
	text-align: center;
	display:inline-block;
	vertical-align:top;
	padding: 7px;
}

.equipeListElement img {
	width: 10vw;
}


#partenairesPage{
	position : absolute;
	overflow: hidden;
	width:50vw;
	margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
	opacity:0;
	-webkit-transition: 0.2s linear 0.4s;
    -o-transition: 0.2s linear 0.4s;
    transition: 0.2s linear 0.4s;
	z-index:3;
}

#partenairesList {
	height: 20vh;
	width:700%;
	transform:translate(0%,0);
}

.partenairesListElement {
	width:15vw;
	display:inline-block;
	text-align: center;
	overflow: hidden;
	vertical-align:top;
	padding: 7px;
}

.partenairesListElement img {
	width:10vw;
}

#leftPanel {
	position : absolute;
	top: 5vh;
	width:20vw;
	float: left;
	padding: 2vw;
	opacity:0;
	display:none;
	z-index:3;
	background-color: #1E1E28;
	-webkit-transition: 0.1s linear 0.2s;
    -o-transition: 0.1s linear 0.2s;
    transition: 0.1s linear 0.2s;
}
#leftPanel p {
	display: none;
}

#menu {
	position: absolute;
	bottom: 4vh;
	width: 100%;
	text-align: center;
	z-index: 3;
}

#infosMenu {
	position:absolute;
	padding:0px;
	margin:0;
	left:2vw;
	bottom:0px;
}

#infosMenu button {
	opacity : 0.5;
}

#infosMenu button:hover {
	opacity : 1;
}

#infosDeploy img {
	height: 1vw;
	width:auto;
}

#infosList li {
	padding-bottom: 1vh;
	padding-top: 1vh;
    -webkit-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

#infosList #projet {
	opacity:0;
	transform:translateY(25px);
    -webkit-transition: 0.2s linear 0.6s;
    -o-transition: 0.2s linear 0.6s;
    transition: 0.2s linear 0.6s;
}

#infosList #equipe {
	opacity:0;
	transform:translateY(35px);
    -webkit-transition: 0.2s linear 0.4s;
    -o-transition: 0.2s linear 0.4s;
    transition: 0.2s linear 0.4s;
}

#infosList #partenaires {
	opacity:0;
	transform:translateY(45px);
    -webkit-transition: 0.2s linear 0.2s;
    -o-transition: 0.2s linear 0.2s;
    transition: 0.2s linear 0.2s;
}

#infosMenu:hover #projet {
	opacity:1;
    transform:translateY(0px);
	 -webkit-transition: 0.2s linear 0.2s;
    -o-transition: 0.2s linear 0.2s;
    transition: 0.2s linear 0.2s;
}
#infosMenu:hover #equipe {
	opacity:1;
    transform:translateY(0px);
	 -webkit-transition: 0.2s linear 0.3s;
    -o-transition: 0.2s linear 0.3s;
    transition: 0.2s linear 0.3s;
}
#infosMenu:hover #partenaires {
	opacity:1;
    transform:translateY(0px);
	-webkit-transition: 0.2s linear 0.4s;
    -o-transition: 0.2s linear 0.4s;
    transition: 0.2s linear 0.4s;
}

#startButton {
	color: rgba(255,255,255,0.75);
	outline: 1px solid rgba(255,255,255,0.75);
	padding: 25px 50px;
}

#startButton:hover {
	background-color: rgba(255,255,255,0.5);
}

#startButton:active {
	color: #000000;
	background-color: rgba(255,255,255,0.75);
}

#controls {
	position:absolute;
	bottom:0px;
	right: 20px;
}

#controls ul {
	opacity:0.5;
	float: right;
	-webkit-transition: 0.2s linear 0.0s;
    -o-transition: 0.2s linear 0.0s;
    transition: 0.2s linear 0.0s;
}

#controls ul:hover {
	opacity:1;
	-webkit-transition: 0.2s linear 0.0s;
    -o-transition: 0.2s linear 0.0s;
    transition: 0.2s linear 0.0s;
}

#controls li {
	display: inline-block;
	vertical-align: middle;
	padding-left:0.5vw;
}

#controls li img {
	height: 1vw;
}

#controls ul p {
	display: none;
}

#fullScreen:hover p {
	display:inline;
}

#mute:hover p {
	display: inline;
}

#plan {
	position:absolute;
	display : none;
	width:100%;
	margin-top: 50vh;
    transform: translate(0, -50%);
	text-align:  center;
	z-index: 1;
}

#plan svg {
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transition: 0.2s linear 0.0s;
    -o-transition: 0.2s linear 0.0s;
    transition: 0.2s linear 0.0s;
}
#plan img {
	width:100%;
	height:100%;
	opacity: 0.3;
}