/**********************************     ***************************************/
/*******************************  RESETS  ************************************/
/**********************************     ***************************************/

html, body {
	height: 100%;
}

body, h1, h2, h3, h4, h5, blockquote, a, p {
    margin: 0px;
    padding: 0px;
}

ul, li {
	margin:0;
	padding:0;
	list-style: none;
}

button {
	margin:0;
	padding:0;
	background: transparent;
	border: 0px;
}

img {
	margin:0;
	padding:0;
}

/**********************************     ***************************************/
/******************************  TYPOGRAPHY  **********************************/
/**********************************     ***************************************/

@font-face {
    font-family: pfefferBold;
    src: url('../data/fonts/pfeffer-simpelgotisch-bold.otf');
}

@font-face {
    font-family: steelplateTextura;
    src: url('../data/fonts/steelplate-textura.ttf');
}

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 100;
    color: white; 
}

a {
    text-decoration: none;
    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-size:  1.7em;
    font-weight: 300;
    color:white;
}

h1 {
    font-family:'pfefferBold', serif;
    font-style: normal;
    font-size: 4.2em;
    font-weight: normal;
	text-align:center;
	padding-bottom: 30px;
    color: #B9A64B;
}

mark {
    background-color:transparent;
    font-family:'steelplateTextura', 'pfefferBold', serif;
    font-style: normal;
    font-weight: normal;
    color: #B9A64B;
}

h3 {
    font-size: 1.7em;
    font-weight: 300;
}

/**********************************     ***************************************/
/******************************   GRAPHICS   **********************************/
/**********************************     ***************************************/

body {
    background-color: #1E1E28;
}

/**********************************     ***************************************/
/*****************************   CONTAINERS   *********************************/
/**********************************     ***************************************/
body {

}

.logoMenu {
	position: absolute;
    margin-top: 2vh;
    margin-left: 2vw;
}

#background {
	pointer-events: :none;
	position: absolute;
	width:100%;
	height:100%;
	background-color: #1e1e28;
	opacity:0.5;
}

#centralInfo {
	position : absolute;
    text-align: center;
	margin-left: 50vw;
    margin-top: 50vh;
	opacity:1;
	-webkit-transition: 0.2s linear 0.2s;
    -o-transition: 0.2s linear 0.2s;
    transition: 0.2s linear 0.2s;
    transform: translate(-50%, -50%);
}

#projetPage{
	position : absolute;
	width:50vw;
	margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
	opacity:0;
	-webkit-transition: 0.2s linear 0.4s;
    -o-transition: 0.2s linear 0.4s;
    transition: 0.2s linear 0.4s;
}

#equipePage{
	position : absolute;
	overflow:hidden;
	text-align:center;
	width:50vw;
	margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
	opacity:0;
	-webkit-transition: 0.2s linear 0.4s;
    -o-transition: 0.2s linear 0.4s;
    transition: 0.2s linear 0.4s;
}

.equipeListElement {
	width: 15vw;
	text-align: center;
	display:inline-block;
	vertical-align:top;
	padding: 7px;
}

.equipeListElement img {
	width: 10vw;
}


#partenairesPage{
	position : absolute;
	overflow: hidden;
	width:50vw;
	margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
	opacity:0;
	-webkit-transition: 0.2s linear 0.4s;
    -o-transition: 0.2s linear 0.4s;
    transition: 0.2s linear 0.4s;
}

#partenairesList {
	height: 20vh;
	width:700%;
	transform:translate(0%,0);
}

.partenairesListElement {
	width:15vw;
	display:inline-block;
	text-align: center;
	overflow: hidden;
	vertical-align:top;
	padding: 7px;
}

.partenairesListElement img {
	width:10vw;
}

#menu {
	position: absolute;
	bottom: 2vh;
	width: 100%;
	text-align: center;
}

#infosMenu {
	position:absolute;
	padding:0px;
	margin:0;
	left:2vw;
	bottom:0px;
}

#infosDeploy {
	cursor: pointer;
}

#infosDeploy img {
	height: 5vh;
	width:auto;
}

#infosList {
	cursor: pointer;
}

#infosList li {
	padding-bottom: 2vh;
	padding-top: 2vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
    -webkit-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

#infosList #projet {
	opacity:0;
	transform:translateY(25px);
    -webkit-transition: 0.2s linear 0.2s;
    -o-transition: 0.2s linear 0.2s;
    transition: 0.2s linear 0.2s;
}

#infosList #equipe {
	opacity:0;
	transform:translateY(35px);
    -webkit-transition: 0.2s linear 0.3s;
    -o-transition: 0.2s linear 0.3s;
    transition: 0.2s linear 0.3s;
}

#infosList #partenaires {
	opacity:0;
	transform:translateY(45px);
    -webkit-transition: 0.2s linear 0.4s;
    -o-transition: 0.2s linear 0.4s;
    transition: 0.2s linear 0.4s;
}

#infosMenu:hover #projet {
	opacity:1;
    transform:translateY(-25px);
	 -webkit-transition: 0.2s linear 0.2s;
    -o-transition: 0.2s linear 0.2s;
    transition: 0.2s linear 0.2s;
}
#infosMenu:hover #equipe {
	opacity:1;
    transform:translateY(-35px);
	 -webkit-transition: 0.2s linear 0.3s;
    -o-transition: 0.2s linear 0.3s;
    transition: 0.2s linear 0.3s;
}
#infosMenu:hover #partenaires {
	opacity:1;
    transform:translateY(-45px);
	 -webkit-transition: 0.2s linear 0.4s;
    -o-transition: 0.2s linear 0.4s;
    transition: 0.2s linear 0.4s;
}

#startButton {
	color: rgba(255,255,255,0.75);
	outline: 1px solid rgba(255,255,255,0.75);
	padding: 25px 50px;
	cursor: pointer;
}
#startButton:hover {
	background-color: rgba(255,255,255,0.5);
}
#startButton:active {
	color: #000000;
	background-color: rgba(255,255,255,0.75);
}

#controls {
	position:absolute;
	bottom:0px;
	right: 20px;
}

#controls li {
	display: inline-block;
	vertical-align: middle;
	padding-left: 1vw;
}

#controls li img {
	height: 5vh;
}