/**********************************     ***************************************/
/*******************************  RESETS  ************************************/
/**********************************     ***************************************/

html, body {
	height: 100%;
	/*background-color: #1e1e28;*/
	cursor: crosshair;
}

body, h1, h2, h3, h4, h5, blockquote, a, p {
    margin: 0px;
    padding: 0px;
	cursor: crosshair;
}

ul, li {
	margin:0;
	padding:0;
	list-style: none;
}

button {
	margin:0;
	padding:0;
	background: transparent;
	border: 0px;
	cursor:crosshair;
}

img {
	margin:0;
	padding:0;
}

/**********************************     ***************************************/
/******************************  TYPOGRAPHY  **********************************/
/**********************************     ***************************************/

@font-face {
    font-family: pfefferBold;
    src: url('../data/fonts/pfeffer-simpelgotisch-bold.otf');
}

@font-face {
    font-family: steelplateTextura;
    src: url('../data/fonts/steelplate-textura.ttf');
}

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 100;
	line-height: 1.5em;
    color: white; 
}

p{
	text-decoration: none;
    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-size:  12px;
    font-weight: 100;
	
    color:white;
}

a {
    text-decoration: none;
    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-size:  1.7em;
    font-weight: 300;
    color:aqua;
}

h1 {
    font-family:'pfefferBold', serif;
    font-style: normal;
    font-size: 4.2em;
    font-weight: normal;
	text-align:left;
	padding-bottom: 10px;
	line-height: normal;
    color: #B9A64B;
}



mark {
    background-color:transparent;
    font-family:'steelplateTextura', 'pfefferBold', serif;
    font-style: normal;
    font-weight: normal;
    color: #B9A64B;
}

h3 {
    font-size: 1.7em;
    font-weight: 300;
}

h4 {
    font-size: 1.2em;
    font-weight: 100;
	line-height: 1.6em;
	padding; 5vw;
}


/**********************************     ***************************************/
/******************************   GRAPHICS   **********************************/
/**********************************     ***************************************/

body {
    background-color: #1E1E28;
	width:100%;
	height:100%;
	overflow: hidden;
}

::-webkit-scrollbar {									/* Scrollbars */
	width: 14px;
	height: 14px;
	background-color: transparent;
}
::-webkit-scrollbar-track-piece {						/* Fond */
	background: transparent none;
	border: solid 4px transparent;
	border-right-width: 8px;
	margin: 4px;
	-webkit-box-shadow: inset 1px 1px 0 0 rgb(255,255,255), inset -1px -1px 0 0 rgb(255,255,255);
}

::-webkit-scrollbar-thumb {								/* Barre */
	border: solid 0 transparent;
	border-right-width: 4px;
	-webkit-border-radius: 5px;
	background-color: rgb(30,30,40);
}
::-webkit-scrollbar-thumb:hover {	
	background-color: rgb(40,40,50);
}	

/**********************************     ***************************************/
/*****************************   CONTAINERS   *********************************/
/**********************************     ***************************************/


/*****************************   INTERFACE   *********************************/

.openningInterface {
	display: inline;
	opacity:0;
	z-index:4;
}
.accueil {
	display: none;
	opacity:0;
	z-index:4;
}
.interface3D {
	opacity:0;
	display:none;
	z-index:3;
}

/*****************************   Basic Interface   ******************************/

#logo {
	position:absolute;
    margin-top: 2vh;
    margin-left: 2vw;
}
#infosMenu {
	position:absolute;
	padding:0px;
	margin:0;
	left:2vw;
	bottom:4vh;
}
#infosMenu button {
	margin-left:50%;
	transform:translateX(-50%);
	opacity : 0.3;
}
#infosMenu button:hover {
	opacity : 1;
}
#infosMenu #infosList {
	padding-bottom: 1vh;
	padding-top: 1vh;
    -webkit-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

#infosMenu #infosList #projet {
	opacity: 0;
	transform: translateY(25px);
    -webkit-transition: 0.2s linear 0.6s;
    -o-transition: 0.2s linear 0.6s;
    transition: 0.2s linear 0.6s;
}

#infosMenu #infosList #equipe {
	opacity: 0;
	transform: translateY(35px);
    -webkit-transition: 0.2s linear 0.4s;
    -o-transition: 0.2s linear 0.4s;
    transition: 0.2s linear 0.4s;
}

#infosMenu #infosList #partenaires {
	opacity: 0;
	transform: translateY(45px);
    -webkit-transition: 0.2s linear 0.2s;
    -o-transition: 0.2s linear 0.2s;
    transition: 0.2s linear 0.2s;
}

#infosMenu:hover #infosList #projet {
	opacity: 0.7;
    transform: translateY(0px);
	 -webkit-transition: 0.2s linear 0.2s;
    -o-transition: 0.2s linear 0.2s;
    transition: 0.2s linear 0.2s;
}
#infosMenu:hover #infosList #equipe {
	opacity: 0.7;
    transform: translateY(0px);
	 -webkit-transition: 0.2s linear 0.3s;
    -o-transition: 0.2s linear 0.3s;
    transition: 0.2s linear 0.3s;
}
#infosMenu:hover #infosList #partenaires {
	opacity: 0.7;
    transform:translateY(0px);
	-webkit-transition: 0.2s linear 0.4s;
    -o-transition: 0.2s linear 0.4s;
    transition: 0.2s linear 0.4s;
}

#controls {
	position:absolute;
	bottom:4vh;
	right: 2vw;
}
#controls ul {
	opacity:0.3;
	float: right;
	-webkit-transition: 0.2s linear 0.0s;
    -o-transition: 0.2s linear 0.0s;
    transition: 0.2s linear 0.0s;
}
#controls ul:hover {
	opacity:0.7;
}
#controls li {
	display:inline-block;
	vertical-align:middle;
	padding-left:1vw;
}
#controls ul p {
	display:none;
}
#controls ul:hover p {
	display:inline;
}
#controls ul img {
	/*width:2vw;*/
}

#visitModeIndicator {
	position: absolute;
	right: 50vw;
	top: 4vh;
	transform: translateX(50%);
	opacity: 0.3;
}

#visitModeControl {
	position: absolute;
	bottom: 4vh;
	right : 20vw;
}
#visitModeControl {
	opacity:0.3;
	display: none;
	float: left;
	-webkit-transition: 0.2s linear 0.0s;
    -o-transition: 0.2s linear 0.0s;
    transition: 0.2s linear 0.0s;
}
#visitModeControl {
	opacity:0.7;
}
#visitModeControl li {
	display:inline-block;
	vertical-align:middle;
	padding-left:1vw;
}
#visitModeControl p {
	display:none;
}
#visitModeControl:hover p {
	display:inline;
}

#planControl {
	position: absolute;
	top: 40vh;
	right : 2vw;
}
#planControl {
	opacity:0.3;
	display: none;
	float: left;
	-webkit-transition: 0.2s linear 0.0s;
    -o-transition: 0.2s linear 0.0s;
    transition: 0.2s linear 0.0s;
}
#planControl {
	opacity:0.7;
}
#planControl li {
	display:inline-block;
	vertical-align:middle;
	padding-left:1vw;
}
#planControl p {
	display:none;
}
#planControl:hover p {
	display:inline;
}
#wheelControl {
	position: absolute;
	bottom: 4vh;
	left : 20vw;
}
#wheelControl {
	opacity:0.3;
	display: none;
	float: left;
	-webkit-transition: 0.2s linear 0.0s;
    -o-transition: 0.2s linear 0.0s;
    transition: 0.2s linear 0.0s;
}
wheelnContros {
	opacity:0.7;
}
#wheelControl li {
	display:inline-block;
	vertical-align:middle;
	padding-left:1vw;
}
#wheelControl p {
	display:none;
}
#wheelControl:hover p {
	display:inline;
}

/***************************   interface d'accueil   *****************************/

#startButton {
	position: absolute;
	opacity:0;
	bottom: 4vh;
	margin-left: 50vw;
	transform: translate(-50%, 0);
	color: rgba(255,255,255,0.75);
	outline: 1px solid rgba(255,255,255,0.75);
	padding: 25px 50px;
	-webkit-transition: 0.6s linear 0.0s;
    -o-transition: 0.6s linear 0.0s;
    transition: 0.6s linear 0.0s;
}
#startButton:hover {
	background-color: rgba(255,255,255,0.5);
}
#startButton:active {
	color: #000000;
	background-color: rgba(255,255,255,0.75);
}
#watchTheTrailer {
	position: absolute;
	display: none;
	color:white;
	opacity: 0.3;
	bottom: 1vh;
	margin-left: 50vw;
	transform: translate(-50%, 0);
}
	
#watchTheTrailer:hover {
	opacity:.7;
}

#title{
	position : absolute;
    text-align: center;
	margin-left: 50vw;
    margin-top: 50vh;
	opacity:0;
	-webkit-transition: 0.5s linear 0s;
    -o-transition: 0.5s linear 0s;
    transition: 0.5s linear 0s;
    transform: translate(-50%, -50%);
}
#title h1{
	text-align: center;
}
#projetInfos{
	display : none;
	position : absolute;
	margin-left:30vw;
	margin-right:40vw;
    margin-top: 50vh;
	height:60vh;
    transform: translate(0, -50%);
	opacity: 0;
	-webkit-transition: 0.5s linear 0s;
    -o-transition: 0.5s linear 0s;
    transition: 0.5s linear 0s;
}
#projetToBeScroll {
	width:100%;
	height:80%;
	overflow-y: scroll;
}
#projetInfos ul {
	margin-left:2em;
}
#projetInfos li {
	list-style-type: circle;
}
#equipeInfos{
	position : absolute;
	margin-left:30vw;
	margin-right:40vw;
    margin-top: 50vh;
	height: 60vh;
    transform: translate(0, -50%);
	opacity:0;
	-webkit-transition: 0.5s linear 0s;
    -o-transition: 0.5s linear 0s;
    transition: 0.5s linear 0s;
}
#contactToBeScroll {
	width:100%;
	height:80%;
	overflow-y: scroll;
}
#equipeInfos #equipeList{
	height: 30vh;
	width: 700%;
	transform:translate(0,0);
}
.equipeListElement {
	width: 15vw;
	display:inline-block;
	text-align: center;
	overflow: hidden;
	vertical-align: top;
	padding: 7px;
}
.equipeListElement img {
	width: 10vw;
}

#partenairesInfos{
	position : absolute;
	overflow: hidden;
	margin-left:20vw;
	margin-right:20vw;
    margin-top: 50vh;
	height: 60vh;
    transform: translate(0, -50%);
	opacity:0;
	-webkit-transition: 0.5s linear 0s;
    -o-transition: 0.5s linear 0s;
    transition: 0.5s linear 0s;
}
#partenairesToBeScroll {
	width:100%;
	height:80%;
	overflow-y: hidden;
}
#partenairesInfos #partenairesList {
	height: 20vh;
	width:200%;
}
#partenairesInfos #partenairesList .partenairesListElement {
	width:19.5vw;
	display:inline-block;
	text-align: center;
	overflow: hidden;
	vertical-align:top;
	padding: 0;
}
#partenairesInfos #partenairesList .partenairesListElement img {
	width:15vw;
}
#hoverScrollZones {
	position : absolute;
	margin-left:20vw;
    margin-top: 50vh;
	width: 58vw;
	height: 60vh;
    transform: translate(0, -50%);
	z-index : 4;
}
#projetHoverScrollUp {
	width:100%;
 	height:120px;
 	position:fixed;
 	top:0;
	z-index:1;
}
#projetHoverScrollDown {
	width:100%;
 	height:80px;
 	position:fixed;
 	bottom: 0;
	z-index:1;
}
#projetHoverScrollRight {
	height:100%;
 	width:80px;
 	position:fixed;
 	right: 0;
	z-index:1;
}
#projetHoverScrollLeft {
	height:100%;
 	width:80px;
 	position:fixed;
 	left: 0;
	z-index:1;
}

/*****************************   Interface 3D  *********************************/

#leftPanel {
	position : absolute;
	bottom: 10vh;
	width:20vw;
	max-height: 60vh;
	overflow-y: auto;
	overflow-x: hidden;
	float: left;
	padding: 2vw;
	opacity:0;
	background-color: #1E1E28;
	-webkit-transition: 0.2s linear 0s;
    -o-transition: 0.2s linear 0s;
    transition: 0.2s linear 0s;
}
#leftPanel #playPauseAudioGuide {
	position : absolute;
	right: 2vw;
	top: 2vh;
}

#leftPanel .interestPointDescription {
	display:none;
}
#leftPanel:hover .interestPointDescription {
	display: inline;
}
#leftPanel .interestPointVideo {
	width:auto;
	margin-top:1.5em;
	max-width: 18vw;
	display:none;
}
#leftPanel:hover .interestPointVideo {
	display:inline;
}

#hoverPartNameContainer {
	position : absolute;
	left : 50vw;
	transform : translateX(-50%);
	top : 15vh;
}

#planMini {
	position:absolute;
	opacity:0;
	width:20vw;
	margin-top: 50vh;
	right:1vw;
    transform: translate(0, -50%);
	text-align:  center;
	-webkit-transition: 0.2s linear 0s;
    -o-transition: 0.2s linear 0s;
    transition: 0.2s linear 0s;
}
#planMini:hover {
	opacity : 1;
}
#planMini svg {
	float :right;
	transform: rotate(-90deg);
}
#planMini #planMiniBG {
	float: right;
	width: 100%;
	opacity:1;
}
#planMini path {
	position:absolute;
	right:0;
}
#planMini #planMiniVisit {
	position: absolute;
	right: 0;
	width: 100%;
	float: right;
	opacity:0.7;
}

#plan {
	position:absolute;
	display : none;
	width:100%;
	margin-top: 50vh;
    transform: translate(0, -50%);
	text-align:  center;
}
#plan #planBG {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	opacity:0.3;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transition: 0.2s linear 0.0s;
    -o-transition: 0.2s linear 0.0s;
    transition: 0.2s linear 0.0s;
}
#plan #visit {
	width:100%;
	height:100%;
	opacity: 1;
}
#radialSliderContainer {
	position: absolute;
	display: none;
	left:50%;
	bottom:0;
	transform: translate(-50%,50%);
	border-radius: 160px;
	cursor: default;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#radialSliderFill {
	position: absolute;
	right:50%;
	top:50%;
	transform: translate(50%, -50%);
	z-index: 2;
}
#fillImg {
	width:100%;
	height:100%;
	-webkit-transition: 0.15s linear 0s;
	-o-transition: 0.15s linear 0s;
	transition: 0.15s linear 0s;
}
#slider {
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 7.5px;
	cursor: pointer;
	z-index:3;
}

/*****************************   TRAILER   *********************************/

#trailer {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	z-index: 2;
	-webkit-transition: 1s linear 0s;
    -o-transition: 1s linear 0s;
    transition: 1s linear 0s;
}
#trailer video {
    position: absolute;  
    top: 50vh;
	transform: translate(0, -50%);
    left: 0px;
    width: 100vw;
    height: auto;
}
#trailer #skipTrailer {
	position: absolute;
	left: 50vw;
	transform : translateX(-50%);
	bottom:1vh;
	color: white;
	opacity: .3;
}
#trailer #skipTrailer:hover {
	opacity:.7;
}

/*****************************  BACKGROUND  *********************************/

#background {
	position: absolute;
	display: inline;
	width:100%;
	height:100%;
	background-color: #1e1e28;
	opacity:1;
	-webkit-transition: 2s linear 0s;
    -o-transition: 2s linear 0s;
    transition: 2s linear 0s;
	z-index:1;
}

/*****************************   WEBGL   *********************************/

#webGL-container {
	width: 100%;
	height:100%;
	display:inline;
	z-index:0;
}